// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.cocktail-card {
  transition: all .2s ease-in-out;
  max-height: 24vh;
  min-height: 24vh;
  border-radius: 16px;
}

.display-ing {
  max-height: 24vh;
  min-height: 24vh;
  border-radius: 16px;
  width: 18rem;
}


.cocktail-card:hover {
  transform: scale(1.03);
}

.paidetodos {
  display: grid; grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card-typed-text {
  display: inline;
}

.ingredients-display {
  visibility: hidden;
}

.cocktail-card:hover .ingredients-display {
  visibility: visible;
}


.cocktail-title {
   color: white;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
  background-color: #493995;
  position: sticky;
  top: 0px;
  z-index:902;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #E67E22;
  background-color: #493995;
}

#icons {
  padding: 0;
  margin: 0;
}

.icon-social-media {
  color: #E67E22;
  transition: all .1s ease-in-out;
  font-size: 32px;
  padding: 8px;
}

.icon-social-media:hover {
  transform: scale(1.1);
  color: rgb(210, 106, 14);

}
